.page #main,
.single #main {
	margin-left: 100px;
}
.page.page-id-62 #main {
	margin-left: 0;
}
#translator {
	position: absolute;
	top: 0;
	left: 95px;
}
#home-block-wrap {
	margin: 0 auto 20px auto;
	padding: 20px 30px 70px 30px;
	width: 730px;
	background: url('../images/bg-home.png') no-repeat;
}
	.hb-heading {
		color: #FFF;
		text-align: center;
		font-size: 30px;
	}
	.home-block-content {
		display: inline-block;
		width: 100%;
	}
		.hb-content-column {
			float: left;
			padding: 30px 0;
			width: 41%;
		}
		.hb-content-column ul li {
			color: #FFF;
		}
		.right-float {
			float: right !important;
			padding: 10px 0;
			border-radius: 15px;
			background: rgba(2, 65, 117, 0.7);
		}
			.hb-title {
				padding: 5px 0;
				border-top: 3px solid #04346C;
				border-bottom: 3px solid #04346C;
				color: white;
				text-align: center;
			}
			.reg-form-title {
				margin: 0;
				padding: 0;
				color: white;
				text-align: center;
				font-size: 16px;
			}
	#register.btn {
		position: relative;
		padding: 5px 0px;
		outline: 0;
		border: 0;
		border-right: 2px solid #395C81;
		border-bottom: 2px solid #395C81;
		background: #597DA3;
		color: #FFF;
	}
	#register.btn:active {
		top: 1px;
		left: 1px;
		border: 0;
	}
#reg-form {
	margin: 0 auto;
	width: 200px;
}
	#reg-form label,
	#reg-form input,
	#reg-form select {
		display: block;
		margin: 5px 0;
		width: 100%;
	}

.hb-footer {
	float: left;
	width: 100%;
}
	.hb-footer h1,
	.hb-footer h2 {
		margin: 0;jhu8i
		padding: 0;
		color: #FFF;
		text-align: center;
	}
#logo {
	position: absolute;
	top: 0;
	left: -31px;
	z-index: 1;
}
div#main {
	position: relative;
	z-index: 11;
}
.sldr_title {display: none;}