/* Global
================================================*/

body{	
	padding:0;
	margin:0;
	background-color:white;
	background-image:url(/images/ny_bg.jpg);
	
}
#wrap {
	width:980px;
	background-image:url(/images/ny_logga.jpg);
	background-repeat:no-repeat;
	
}

#top #fill{	margin-left:152px; height:5px; width:100%; margin:0;padding:0;overflow:hidden; background-color:#f2f8fc}

/* layout - top area, login ,language select
================================================*/

#top{
	position:relative;
	width:960px	
}

#top #loggo{
	width:100px;
	position:absolute;
	top:0px;
	left:0px;
	background-image:url(/images/ny_logga.jpg);

	background-repeat:no-repeat;
	height:120px;
}

#top #holder{	
	margin-left:152px;
	background-image:url(/images/ny_top.jpg);
	background-repeat:no-repeat;
	padding-top:10px;
	padding-left:13px;
}

#top #parts{
	height:39px;
	background-image:url(/images/ny_login.jpg);
	background-repeat:no-repeat;
	margin-top:49px;
	margin-bottom:2px;
	padding-left:9px;
	
	padding-top:5px;
	width:629px;
	overflow:hidden
}

#top  #banners{
	background-color:#fff;
	width:627px;
	height:83px;
	border:solid 1px #003882;
	
	overflow:hidden
}


#top #parts form{
	display:inline;
	
}
#top #parts form#login div{
	float:left;
	
	margin-right:2px
}
#top #parts form#login input#Submit{
	
	/*vertical-align:sub*/
	
}
#top #parts form#login div label{
	display:block;
}
#top #parts form#language {
	float:left;
	padding-top:10px;
	margin-left:10px
}


/* layout - main navigation
================================================*/



#top #mainnav{
	background-image:url(/images/ny_menubg.jpg);
	background-repeat:no-repeat;
	background-color:#87e1f9;
	padding-left:20px;
	
	width:609px;
	height:41px;
	clear:both;
	overflow:hidden
		
}
#top #subnav{
	background-image:url(/images/ny_menusub_bg.jpg);
	background-repeat:no-repeat;
	
	padding-left:20px;
	height:41px;
	width:609px;
	clear:both;
	overflow:hidden
		
}
#top ul{
	margin:0px;
	padding:0px;
	display:block;
	clear:both;
	width:630px;
	height:41px;
	overflow:hidden
}
#top li{
	float:left;
	/*display:inline;*/
	list-style-type:none;
	/*border-right:solid 1px #000;*/
	/*background-color:#87e1f9;*/
	background-image:url(/images/menu_line.gif);
	background-repeat:no-repeat;
	padding-left:3px;
	padding-right:3px;
	padding-top:0px;
	padding-bottom:0px;
	text-align:center;
	height:41px;
}
#top #subnav li{
	background-image:url(/images/menu_line2.gif);
	background-repeat:no-repeat;
}
#top #subnav ul li{
	/*background-color:#CDF2FB;	*/	
}

#top #mainnav li.active{
	background-color:#d8eaf7
}
#top #subnav li.active{
	background-color:#f2f8fc
}
#top li.first, #top #subnav li.first{
	background-image:none;
	
}
#top li a{
	display:block;
	float:left;
	vertical-align:top;
	padding:4px 4px 0px 4px;
	
}

/* other layout
================================================*/
#content {
	clear:both;	
	margin-top:20px
}
#main {
	float:left;
	width:629px;
	overflow:hidden;
}
.clear{
	clear:both;	
}

#subnav1 {
	float:left;
	width:147px;
	padding-top:15px;
	padding-right:5px;
	margin-right:20px;/*13px;*/
	text-align:right;
	z-index:1
	line-height:11px;
	font-size:11px;
	font-family: Verdana;
}
#subnav1 div{margin-bottom:10px;
padding-right:3px;}

#subnav1 div.LM_button{
width:145px;
height:22px;
padding-top:4px;
margin-bottom:2px;
/*padding-left:-10px;*/
background-image:url(/images/LeftMenuBtn.png);
background-repeat:no-repeat;
}

#subnav1 .visible_link{
	/*background-color:#99FFFF;
	border-bottom:thin solid #0066CC;
	border-right:thin solid #0066CC;*/
	color:#625e8b;/*6BAFDC;003882 b0d4ec*/
	font-family:Arial;
	font-weight:bold;
	font-size:13px;
	line-height:14px;
	text-decoration:none;
	}
	
#subnav1 a{
	color:#625e8b;/*6BAFDC;003882 b0d4ec*/
	font-weight:bold;
	font-size:11px;
	line-height:11px;
	text-decoration:none;
}
#subnav1 a:link{}
#subnav1 a:visited{}
#subnav1 a:hover{color:#000000;}

#nyloga {
position:absolute;top:0px;left:0px;width:120px;
height:400px;
background-image:url(/images/ny_logga.jpg);
	background-repeat:no-repeat;
}
#nyloga #links{
	margin-top:300px;
	width:142px;
	margin-right:13px;
	text-align:right;
	font-family:Arial;

}
#subcontent
{
	float:left;
	margin-left:10px;
	width:165px;
}
#footer {
	margin-left:162px;
	margin-top:20px;
	width:629px;
	clear:both;
}


/* Text
================================================*/

#top #parts{
	font-size:10px;
	font-family: Arial, Helvetica, Sans-Serif;
}

#top #parts form#login input#Submit{
	font-size:10px;	
}

#top #parts form#login div label{	
	font-size:9px
}


/* Links
================================================*/


#top #parts a{
	border:none;
	font-size:10px;
	font-family:arial;
	text-decoration:none;
}

#top li a{
	border:none;
	font-size:9px;
	font-family:verdana;
	font-weight:bold;
	color:black;	
	text-decoration:none;
	line-height:12px
}






body {
	background-color: white;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

/* General font families for common tags */
font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif }
a:link,a:active,a:visited { color : #006699; }
a:hover		{ text-decoration: underline; color : #DD6900; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}

/* This is the border line & background colour round the entire page */
.bodyline	{ background-color: #FFFFFF; }

/* This is the outline round the main forum tables */
.forumline	{ background-color: #FFFFFF; border: 1px black solid; }

/* Main table cell colours and backgrounds */
td.row1	{ background-color: #f2f8fc; }
td.row2	{ background-color: #d7e9f7; }
td.row3	{ background-color: #d7e9f7; }

/*
  This is for the table cell above the Topics, Post & Last posts on the index.php page
  By default this is the fading out gradiated silver background.
  However, you could replace this with a bitmap specific for each forum
*/
td.rowpic {
		background-color: #FFFFFF;
		/*background-image: url(templates/subSilver/images/cellpic2.jpg);*/
		background-repeat: repeat-y;
		background-color:#d7e9f7
}

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: black; font-size: 11px; font-weight : bold;
	background-color: #D1D7DC; height: 25px;
	background-color:#b0d4ec;
	/*background-image: url(templates/subSilver/images/cellpic3.gif);*/
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			/*background-image: url(templates/subSilver/images/cellpic1.gif);*/
			background-color:#D1D7DC; border: #FFFFFF; border-style: solid; height: 28px;
			background-color:#d7e9f7;
		
}

/*class=row1
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
	
}

th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: #FFFFFF; border-style: solid; height: 28px;
}
td.row3Right,td.spaceRow {
	background-color: #D1D7DC; border: #FFFFFF; border-style: solid;
}

th.thHead,td.catHead { font-size: 12px; border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow	 { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }

/* The largest text used in the index page title and toptic title etc. */
.maintitle	{
	font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; line-height : 120%; color : #000000;
}

/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }

/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }

/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #3C3C3C}
a.cattitle		{ text-decoration: none; color : #3C3C3C; }
a.cattitle:hover{ text-decoration: underline; }

/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: underline; color : #DD6900; }

/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000000;}
a.nav			{ text-decoration: none; color : #006699; }
a.nav:hover		{ text-decoration: underline; }

/* titles for the topics: could specify viewed link colour too */
.topictitle,h1,h2	{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #006699; }
a.topictitle:visited { text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }

/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }

/* The content of the posts (body of text) */
.postbody { font-size : 12px; line-height: 18px}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

/* Copyright and bottom info */
.copyright		{ font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
a.copyright		{ color: #444444; text-decoration: none;}
a.copyright:hover { color: #000000; text-decoration: underline;}

/* Form elements */
.bodyline  input,.bodyline  textarea, .bodyline  select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border-color : #000000;
}

/* The text input fields background colour */
.bodyline input.post, .bodyline  textarea.post, .bodyline  select {
	background-color : #FFFFFF;
}

.bodyline input { text-indent : 2px; }


/* The buttons used for bbCode styling in message post */
.bodyline input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
.bodyline input.mainoption {
	background-color : #FAFAFA;
	font-weight : bold;
}

/* None-bold submit button */
.bodyline  input.liteoption {
	background-color : #FAFAFA;
	font-weight : normal;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border-style: none; }

#top #parts a, #top #parts a:visited{
	border:none;
	color:blue;
	font-size:10px;
	font-family:arial;
	text-decoration:none;
}

/* Google Translate*/

#translate{
text-align:center;
position: absolute;
left: 805px;
top: 177px;
height:110px;
width:140px;
}
#googletext{
text-align:center;
position: absolute;
left: 965px;
top: 160px;
height:260px;
width:180px;
display:none;
background-color:#FFFFB0;
opacity:0.75;
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;
border: 1px solid;
}
#google-translate {
padding-bottom: 10px;
padding-top: 10px;
}
.hidden{
display: none;
margin-left: 30px;
}
.hidden2{
display: none;
margin-left: 30px;
}
#reset {
-moz-border-radius: 7px;  
-webkit-border-radius: 7px;
opacity: .6;
}
#reset:hover{
opacity: 1;
}